.git, .linkedin, .nba-scatter{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.git:hover, .git:focus, .git:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.linkedin:hover, .linkedin:focus, .linkedin:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.git, .linkedin{
  height: 45px;
  width: auto;
  
}

header.resume {
  display: flex;
  flex-direction: row space-between;
}